[user]
	mail = ms.yusuf@outlook.co.id
	name = Muhammad Sulaiman Yusuf
	email = ms.yusuf@outlook.co.id
[credential]
	helper = store
[alias]
	uncommit = "reset HEAD~"
	showtool = "!showci () { rev=${1:-HEAD}; git difftool $rev~1 $rev; }; showci $1"
[diff]
	tool = gvimdiff
[color]
	interactive = true
	branch = true
	status = true
	ui = true
[pull]
	rebase = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[safe]
	directory = /mnt/data/Workspace (data)/archive/Integrasia/Source/ospro/nawakara-frontend
